* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    font-family: Helvetica;
}

:root {
    --color-primary: #6c63ff;
    --color-success: #5CB85F;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white:#fff;
    --color-black: #000;

    --transition: all 400ms ease;
}

h1 {
  text-align: center;
}

.btnn{
    display:inline-block;
    background: var(--color-success);
    color: var(--color-white);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    /* font-weight: 5000; */
    transition: var(--transition);
    border-radius: 1rem;
    font-style:italic;
}

/*============== Navbar ============*/
nav {
  background: transparent;
  width:100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
  font: var(--color-black);
}
/* Change navbar whenscrolldown appear background */
.window-scroll {
  background: var(--color-white);
  box-shadow: 0 1rem 2 rem rgb(252, 252, 252);
  transition: var(--transition);
}
.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav button {
  display: none;
}

.nav__menu{
  display: flex;
  gap: 4rem;
}

.nav__menu a {
   transition: var(--transition);
}
/* 
.nav__menu a:hover{
  color: var(--color-bg2);
} */
/*============== Header ============*/

/* header {
    position: relative;
    top: 5rem; 
    overflow: hidden;
    height: 70vh; 
    margin-bottom: 5rem;
   // border: 1px var;
    } */
.header__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5rem;
    height: 100%;
    margin-top: 3%;
    }
    .icon__done {
      height: 20px;
      width: 20px;
    }
    .header__left {
  box-sizing: border-box;
  padding: 0 0 0 100px;
    }
.header__left p {
    margin: 1rem 0 2.4rem ;
}


/*============== Our services ============*/
img {
    width: 50vw ;
    display: block;
    object-fit: cover;
    object-position: center;
}

  /* Styling untuk container */
  .container-1 {
    display: flex;
    align-items: center;
    justify-content: center ;
    margin: 40px auto;
    width: 90%;
    gap: 5rem;
    align-items: center;
  }

  .kiri {
    flex-basis: 40%;
    margin-right: 20px;
  }
  
  /* Styling untuk gambar */
  .gambar {
    width: 459px;
    height: 428px ;
  }
  /* .container-1 ul li a{
    width: 16px;
    height: 16px;
    left: 4px;
    top: 4px;
  } */
  /* Styling untuk deskripsi */
  .deskripsi {
    flex-basis: 50%;
    margin-right: 50px;

  }
  ul{
    margin-top: 30px;
    font-style: (--color-black);
  }
  /* Styling untuk judul deskripsi */
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
  }
  
  /* Styling untuk teks deskripsi */
  p {
    font-size: 16px;
    line-height: 1.5;
  }

  .icon {
    transform: scale(0.1);
  }

  /*============== Why us ============*/


  .why__use{
    width: 80%;
    margin: 50px auto 100px;
    

  }

  .container__why {
    margin-top: 50px;
    max-width: 9x;
    margin: 50px auto;
    gap:1rem;
  }

  /* .why.satu  {
    background-color: #04d0eb;
  }
  .why.dua {
    background-color: #f75842;
  }
  .why.tiga {
    background-color: #f75842;
  }
  .why.empat {
    background-color: #f75842;
  } */

  .why {
    padding: 20px 20px 20px;
    box-sizing: border-box;
    /* width: 20%; */
    border: 1px solid grey;
  }
  .why h3 {
    margin-bottom: 10px;
  }
.icon__why {
  height: 20px;
  width: 20px;
  margin-bottom: 20px;
}
  

  /*============== Testimonial ============*/

  .testimonial {
    margin: auto;
    width: 100%;
    text-align: center;
  }

  #testimonial_area {
    padding: 10% 0;
  }
  .box-area {
    padding: 30px;
    position: relative;
    display: block;
    background: #fff;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 40px 0;
  }
  .box-area h5 {
    font-size: 16px;
    font-weight: 700;
    color: #0a69ed;
    margin-top: 30px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .box-area span {
    color: #262626;
    display: block;
    font-size: 13px;
    margin: 0 0 10px;
    font-weight: 400;
  }
  .box-area .content {
    color: #262626;
  }
  .box-area .img-area {
    width: 90px;
    height: 90px;
    position: absolute;
    top: -40px;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    right: 0;
    z-index: 1;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
  }
  .box-area .img-area img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  .socials {
    margin-top: 30px;
  }
  .socials i {
    margin: 0 10px;
    color: #0a69ed;
    font-size: 18px;
  }
  #testimonial_area .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
  }
  #testimonial_area .owl-prev, #testimonial_area .owl-next {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #0a69ed;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    position: absolute;
  }
  #testimonial_area .owl-prev {
    left: -60px;
    top: -30px;
  }
  #testimonial_area .owl-next {
    right: -60px;
    top: -30px;
  }
  @media only screen and (max-width: 991px) {
    .owl-nav {
      display: none;
    }
  }
  @media only screen and (max-width: 767px) {
    .box-area {
      text-align: center;
    }
    .owl-nav {
      display: none;
    }
  }
/* lokasimu*/

.container-empat {
  height: 200px;
  width: 80%;
  background-color:#0D28A6;
  margin: 50px auto;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  color: white;
}

.container-empat div{
  margin: auto;
}
.container-empat p {
  line-height: 20px;
  font-size: 14px;
  font-weight: 300;
}
.container-empat button {
  
  background-color: #5CB85F;
  padding: 10px;
  border-radius: 1em;
}
/* asked */
.container-lima{
  display: flex;
}.frequently {
  margin: 100px auto;

}
/* akorddion */
#accordion {
  margin:20px auto 0 ;
  width: 600px;
  /* background-color:lightblue; */
}
#accordion li{
  list-style: none;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 30px;
  border-radius: 4px;
  background-color:#fff;
  border: 1px solid black;

}
#accordion li label{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;

}
#accordion li label span{
transform: rotate(90deg);
font-size: 22px;
color: #333 ;
}
#accordion label + input[type="radio"]{
  display: none;
}
input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
#accordion label + input [type="radio"] :checked + .content {
  max-height: 400px;
}

#accordion .content{
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
#accordion label + input[type="radio"]:checked + .content{
  max-height: 400px;
}

/* footer */

.footer{
  margin-top: 10px;
  width: 100%;
  padding: 100px 15%;
  background: rgba(255, 255, 255, 1);
  color: #000;
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
}
.footer div{
  text-align:start;
}
/* .col-2{
  flex-grow: 2;
} */
/* .col-3 {
  box-sizing: border-box;
  padding: 0 20px 0 0;
} */
.col-1
.footer div h3{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.col-2 a{
  display: block;
  text-decoration: none;
  color: #000;
  margin-bottom: 10px;
}
.social-icons{
  margin-top: 30px;
}
.social-icons i{
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
}
  /* Untuk responsive */
  @media (min-width : 600px) {
    .container__why{
      display: flex;
      justify-content:space-evenly;
    }
    .why h3 {
      width: 20%;
    }
}